.panel {
    width: 380px;
    height: 720px;
    padding: 40px 30px;
    background-color: #86D3F4;
}

.panel__content {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 32px 16px;
}

.panel__title {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.panel__number {
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.panel__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.panel__keypad {
    padding: 20px 0;
}

.panel__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 19px;
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.panel__button:focus {
    border: 1px solid #fff;
}

.panel__button:disabled {
    border: 1px solid #4E4E4E;
    color: #4E4E4E;
    background-color: transparent;
}

.panel__button > span {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.panel-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.panel-end > h2 {
    margin-bottom: 15px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 4rem;
}