.checkbox__label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #4E4E4E;
}

.checkbox__checkbox {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 18px;
    border: 2px solid #000;
    background-color: transparent;
}

.checkbox__checkbox:checked:before {
    content: url("../../assets/check_icon.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 1.5rem;
}